<div class="d-block h3 p-3 text-bg-primary text-center">
    LISTA DE CONTATOS
</div>

<form [formGroup]="formGroupContato">
    <div class="mb-3">
      <label for="name" class="form-label">Nome:</label>
      <input type="name" class="form-control" id="name" formControlName="name">      
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="mb-3">
      <label for="telefone" class="form-label">Telefone:</label>
      <input type="tel" class="form-control" id="telefone" formControlName="telefone">
    </div>
    <div class="mb-3">
      <label for="endereco" class="form-label">Endereço:</label>
      <input type="address" class="form-control" id="endereco" formControlName="endereco">
    </div>
    <div class="mb-3">
      <label for="cidade" class="form-label">Cidade:</label>
      <input type="city" class="form-control" id="cidade" formControlName="cidade">
    </div>
    <div class="mb-3">
      <label for="cep" class="form-label">Cep:</label>
      <input type="postalcode" class="form-control" id="cep" formControlName="cep">
    </div>
    <div class="mb-3">
      <label for="estado" class="form-label">Estado:</label>
      <input type="state" class="form-control" id="estado" formControlName="estado">
    </div>
    
    <button type="save" class="btn btn-primary" (click)="save()">Salvar</button>
   
  </form> 


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Endereço</th>
        <th scope="col">Cidade</th>
        <th scope="col" class="text-center">CEP</th>
        <th scope="col" class="text-center">Estado</th>
        <th scope="col text-center" class="text-center">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let c of contatos">
        <th scope="row">{{c.id}}</th>
        <td>{{c.name}}</td>
        <td>{{c.email}}</td>
        <td>{{c.telefone}}</td>
        <td>{{c.endereco}}</td>
        <td class="text-center">{{c.cidade}}</td>
        <td class="text-center">{{c.cep}}</td>
        <td class="text-center">{{c.estado}}</td>
        
<th><button class="btn btn-danger me-3" (click)="delete(c)">Remover</button>
  </th>
      </tr>      
    </tbody>
  </table>